---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h2>About me</h2>
  <p>I'm a software engineer with a passion for building things.</p>
  <h2>About this site</h2>
  <p>
    This site is a collection of my thoughts and projects. It's a place where I
    can share my ideas and work with others.
  </p>
</BaseLayout>
